<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hyman.demo.android.ui"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.frame.FrameLayoutActivity"
        	android:label="Frame Layout Demo">
        </activity>
        
        <activity android:name=".layout.absolute.AbsoluteLayoutActivity"
        	android:label="Absolute Layout Demo">
        </activity>
        
        <activity android:name=".layout.linear.LinearLayoutActivity"
        	android:label="Linear Layout Demo">
        </activity>
        
        <activity android:name=".layout.linear.LinearLayoutNestedActivity"
        	android:label="Linear Layout Nested Demo">
        </activity>
        
        <activity android:name=".layout.relative.RelativeLayoutActivity"
        	android:label="Relative Layout Demo">
        </activity>
        
        <activity android:name=".layout.relative.RelativeLayout2Activity"
        	android:label="Relative Layout 2 Demo">
        </activity>
        
        <activity android:name=".layout.table.TableLayoutActivity"
        	android:label="Table Layout Demo">
        </activity>
        
        <activity android:name=".widget.button.ButtonStatesActivity"
        	android:label="ButtonStatesActivity">
        </activity>
        
        <activity android:name=".widget.button.ButtonAllActivity"
        	android:label="ButtonAllActivity">
        </activity>
        
        <activity android:name=".widget.list.MyListActivity"
        	android:label="MyListActivity">
        </activity>
        
        <activity android:name=".widget.list.MyLayoutListActivity"
        	android:label="MyLayoutListActivity">
        </activity>
        
        <activity android:name=".widget.list.MyListRowActivity"
        	android:label="MyListRowActivity">
        </activity>
        
        <activity android:name=".widget.list.adapter.MyListAdapterActivity"
        	android:label="MyListAdapterActivity">
        </activity>
        
        <activity android:name=".widget.list.adapter.MyListImprovedAdapterActivity"
        	android:label="MyListImprovedAdapterActivity">
        </activity>
        
        <activity android:name=".widget.list.model.ModelListActivity"
        	android:label="ModelListActivity">
        </activity>
        
        <activity android:name=".widget.list.selection.MySingleListActivity"
        	android:label="MySingleListActivity">
        </activity>
        
        <activity android:name=".widget.list.MyHeaderFooterListActivity"
        	android:label="MyHeaderFooterListActivity">
        </activity>
        
        <activity android:name=".widget.list.ListViewActivity"
        	android:label="ListViewActivity">
        </activity>
        
        <activity android:name=".widget.list.cursor.MySimpleCursorAdapterListActivity"
        	android:label="MySimpleCursorAdapterListActivity">
        </activity>
        
        <activity android:name=".dialog.alert.AlertDialogActivity"
        	android:label="AlertDialogActivity">
        </activity>
        
        <activity android:name=".dialog.date.DatePickerActivity"
        	android:label="DatePickerActivity">
        </activity>
        
        <activity android:name=".dialog.date.TimePickerActivity"
        	android:label="TimePickerActivity">
        </activity>

    </application>

</manifest> 